html {

    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;

}



.debug {
    background-color: white;
    color: white;
}

/* Custom util classes  */

.page-holder {
    min-height: 100vh;
}

.bg-cover {
    background-size: cover !important;
    background-position: center;
    background-repeat: no-repeat;
}

.border {
    border: 1px white solid;
    border-width: thin;
}






/* Navbar+first section */


.navbar-nav {
    text-align: center;
}




.navbar-toggler {
    padding: 1px 5px;
    font-size: 18px;
    line-height: 0.3;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}


/* @media screen and (min-width: 992px) {
    #room {
        margin-left: 33em;
        color: red; 
    }
} */


/* First Section */


.btn-first-section {
    background-color: #FFB548 !important;
    color: black;
    border: none;
}


/* Third Section */


.third-section ul {
    margin-bottom: 480px;
    color: #FFB548;
}


.li-third {
    margin-bottom: 300px;
}


.yellow-title {
    color: #FFB548;
    font-size: 1.3em;
}



/* Fifth Section */


.fifth-section {
    background-color:rgb(0, 0, 0); 
    height: 800px;
}

.fifth-section img {
    border-radius: 50%; 
    width: 65.27px; 
    height: 65.27px;
}

.fifth-section-button {
    background-color: #FFB548; 
    color: black; 
    border: none;
}

.fifth-section-card {
    background: rgba(255, 255, 255, 0.08); 
    border-radius: 10px;
}

.date {
    font-size: 12px; 
    color: #777777;
}



/* Sixth Section */

.sixth-section-button {
    background-color: #FFB548; 
    color:black; 
    border: none;
    height: 50px;
    font-size: 0.8em!important; 
    font-weight: bold;
}


/* Footer section */

footer {
    width: 100%;
}